{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row container my-3">
    <div class="col-md-2 panel panel-info">
        <ul class="list-group">
            <li class="list-group-item"><a class="nav-link" href="{% url 'account:index'%}">내 프로필</a></li>
            <li class="list-group-item"><a class="nav-link" href="{% url 'account:review'%}">내 리뷰</a></li>
            <li class="list-group-item"><a class="nav-link" href="{% url 'account:like_movie'%}">찜한 영화</a></li>
            <li class="list-group-item"><a class="nav-link" href="{% url 'account:logout' %}">로그아웃</a></li>
        </ul>
    </div>
    <div class="col-md-10">


        <h1>{{ user.nickname }} 프로필 페이지입니다.</h1>
        <p>{{request.user.email}}</p>
    </div>
</div>
{% endblock %}