{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="row container my-3">
    <img class="img-corny" src="{% static 'assets/img/profile_corn.png' %}" alt="..." />
    <div class="panel-info">
        <ul class="list-group">
            <li class="list-group-item"><a class="panel-info" href="{% url 'account:review'%}">내가 쓴 리뷰</a></li>
            <li class="list-group-item"><a class="panel-info" href="{% url 'account:pick'%}">찜한 영화</a></li>
            <li class="list-group-item"><a class="panel-info" href="{% url 'account:logout' %}">로그아웃</a></li>
        </ul>
    </div>
    <div class="col-md-10">
<!--        <h1>{{ user.nickname }}</h1>-->
<!--        <p>{{request.user.email}}</p>-->
    </div>
</div>
{% endblock %}