{% extends 'base.html' %}
{% load static %}


{% block main %}
    <div class="container my-3">
        <div class="row">
            <div class="col-4">
                <h1>Login</h1>
            </div>
        </div>

        <form method="post" class="post-form" action="{% url 'account:login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">  <!-- 로그인 성공후 이동되는 URL -->
            {% include "account/form_errors.html" %}
            <div class="form-group">
                <label for="username">사용자ID</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password"
                       value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <div class="col-8 text-center">
                <button type="submit" class="btn btn-primary"><strong>로그인</strong></button>
            </div>
            <div class="signup-1 text-right">
               <span><a href="{% url 'account:signup' %}">신규 회원가입하기</a></span>
            </div>
        </form>
    </div>
{%endblock%}