{% extends 'base.html' %}
{% load static %}
{% load review_filter %}


{% block main %}
<div class="row container my-3">
    <img class="img-corny" src="{% static 'assets/img/profile_corn.png' %}" alt="..." />
     <div class="col-md-2 panel panel-info">
        <ul class="list-group">
            <li class="list-group-item"><a class="panel-info" href="{% url 'account:index'%}">내 프로필</a></li>
            <li class="list-group-item"><a class="panel-info" href="{% url 'account:review'%}">내 리뷰</a></li>
            <li class="list-group-item"><a class="panel-info" href="{% url 'account:pick'%}">찜한 영화</a></li>
            <li class="list-group-item"><a class="panel-info" href="{% url 'account:logout' %}">로그아웃</a></li>
        </ul>
    </div>

    <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th>포스터</th>
                    <th>영화명</th>
                    <th>찜한 날짜</th>
                </tr>
                </thead>
                <tbody>
                {% if pick_list %}
                {% for pick in pick_list %}
                <tr>
                    <td>
                        <a href="{% url 'movie:detail' pick.movie.id %}">
                        {% if pick.movie.poster %}
                        <img src="{{ pick.movie.poster.url }}" width="150" height="200">
                        {% else %}
                        <img src="{% static 'images/noimg.jpg' %}" height="200">
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'movie:detail' pick.movie.id %}">
                            {{ pick.movie.title }}
                        </a>
                    </td>
                    <td>
                        {{ pick.pick_date }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">찜한 영화가 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>

            <ul class="pagination justify-content-center">
                {% if review_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"><<</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><<</a>
                </li>
                {% endif %}
                {% if review_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.previous_page_number }}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                {% for page in page_range %}
                    <li class="page-item {% if page == review_list.number %}active{% endif %}" aria-current="page">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if review_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.next_page_number }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
                {% if review_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.paginator.num_pages }}">>></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">>></a>
                </li>
                {% endif %}
            </ul>
    </div>

</div>

{% endblock %}