{% extends 'base.html' %}
{% load static %}
{% load review_filter %}


{% block main %}
<div class="row container my-3">
    <img class="img-corny" src="{% static 'assets/img/movie_corn.png' %}" alt="..." />

    <table>
        <tr>
            <td>영화제목</td>
            <td>{{movie.title}}</td>
        </tr>
        <tr>
            <td>감독</td>
            <td>{{movie.director}}</td>
        </tr>
        <tr>
            <td>개봉일</td>
            <td>{{movie.pub_date}}</td>
        </tr>
        <tr>
            <td>상영시간</td>
            <td>{{movie.running_time}}분</td>
        </tr>
        <tr>
            <td>관람연령</td>
            <td>{{movie.age_limit}}</td>
        </tr>
        <tr>
            <td>영화소개</td>
            <td>{{movie.description|linebreaks}}</td>
        </tr>
        {% if movie.poster %}
        <tr>
            <td>포스터</td>
            <td>
            {% if movie.poster %}
                <img src="{{ movie.poster.url }}" height="400">
            {% else %}
                <img src="{% static 'images/noimg.jpg' %}" height="400">
            {% endif %}
            </td>
        </tr>
        {% endif %}
    </table>

    <div>
        <a href="{% url 'movie:pick' movie.id %}">
        {% if pick is False %}
            찜하기
        {% else %}
            찜 삭제
        {% endif %}
        </a>

        <a href="{% url 'movie:index' %}">목록</a>

        {% if request.user.is_superuser %}
        <span>
            <a href="{% url 'movie:modify' movie.id%}" role="button">수정</a>
        </span>
        <span>
            <script type="text/javascript">
               function button_event(){
               if (confirm("삭제된 영화는 복구가 불가능합니다. 영화를 삭제하시겠습니까?") == true){
                    location.replace("{% url 'movie:delete' movie.id  %}");
                }
                else{
                    return;
                }
                }
            </script>
            <a onclick="button_event();">삭제</a>
        </span>
        {% endif %}
    </div>


</div>

{% endblock %}