{% extends 'base.html' %}
{% load static %}



{% block main %}
<table border="1">
    <tr>
        <td>영화제목</td>
        <td>{{movie.title}}</td>
    </tr>
    <tr>
        <td>감독</td>
        <td>{{movie.director}}</td>
    </tr>
    <tr>
        <td>개봉일</td>
        <td>{{movie.pub_date}}</td>
    </tr>
    <tr>
        <td>영화소개</td>
        <td>{{movie.description}}</td>
    </tr>
    <tr>
        <td>포스터</td>
        <td>
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" height="400">
        {% else %}
            <img src="{% static 'images/noimg.jpg' %}" height="400">
        {% endif %}
        </td>
    </tr>
</table>


<a href="{% url 'movie:pick' movie.id %}">
    {% if pick is False %}
    찜하기
    {% else %}
    찜 취소하기
    {% endif %}
</a>


<a href="{% url 'movie:modify' movie.id %}">수정</a>
<a href="{% url 'movie:delete' movie.id %}">삭제</a>



{% endblock %}