{% extends 'base.html' %}
{% load static %}



{% block main %}
    <ul style="
        padding-top: 160px;
        padding-bottom: 160px;
        padding-left: 48px;
        padding-right: 48px;
    ">
        {% if page_obj %} {% for movie in page_obj %}
        <li>
            <span class="title"><a href="{% url 'movie:detail' movie.id %}">{{ movie.title }}</a></span>
            <span class="director">{{ movie.director }}</span>
            <span class="pub-date">{{ movie.pub_date }}</span>
        </li>
        {% endfor %} {% else %}
        <li>목록이 존재하지 않습니다. {{account.User}}</li>
        {% endif %}
    </ul>



    {% if request.account.is_authenticated %}
    <p>{{ request.account.username }}</p>
    {% else %}
    <p>user not logged</p>
    {% endif %}

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">

        <!-- 첫페이지 -->
        <li class="page-item">
            <a class="page-link" href="?page=1"> 처음으로 </a>
        </li>
        {% if page_obj.has_previous %}
        <!-- 이전페이지 -->
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> 이전 </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> 이전 </a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in page_range %}
                {% if page_number == page_obj.number %} <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <!-- 다음페이지 -->
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"> 다음 </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"> 다음 </a>
        </li>
        {% endif %}
        <!-- 마지막 페이지 -->
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> 마지막으로 </a>
        </li>
    </ul>
    <!-- 페이징처리 끝 -->

    <a href="{% url 'movie:create' %}" class="btn btn-primary">영화등록하기</a>


{% endblock %}