{% extends 'base.html' %}
{% load static %}
{% load review_filter %}



{% block main %}
        <div class="container my-3" style="padding 160px 48px">

            <table class="table">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>영화명</th>
                    <th>별점</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                    <th>추천</th>
                    <th>비추천</th>
                    <th>조회</th>
                </tr>
                </thead>
                <tbody>
                {% if review_list %}
                {% for review in review_list %}
                <tr>
                    <td>
                        <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                        {{ review_list.paginator.count|sub:review_list.start_index|sub:forloop.counter0|add:1 }}
                    </td>
                    <td>
                        <a href="{% url 'review:review_detail' review.id %}">{{ review }}</a>
                    </td>
                    <td>
                        {% if review.star == 0 %}
                            <p>☆☆☆☆☆</p>
                        {% elif review.star == 1 %}
                            <p>★☆☆☆☆</p>
                        {% elif review.star == 2 %}
                            <p>★★☆☆☆</p>
                        {% elif review.star == 3 %}
                            <p>★★★☆☆</p>
                        {% elif review.star == 4 %}
                            <p>★★★★☆</p>
                        {% else %}
                            <p>★★★★★</p>
                        {% endif %}
                    </td>
                    <td><!--{{ review.author }}--></td>
                    <td>
                        {% if review.modify_date == null %}
                            <p>{{ review.create_date }}</p>
                        {% else %}
                            <p>{{ review.modify_date }}</p>
                        {% endif %}
                    </td>
                    <td>{{ review.like_review }}</td>
                    <td>{{ review.unlike_review }}</td>
                    <td>{{ review.review_hit }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">리뷰가 없습니다.</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-primary" href="{% url 'review:review_create' %}" role="button">리뷰작성</a>
            </div>

        <!-- -------------------- 페이징처리 시작 -------------------- -->
            <ul class="pagination justify-content-center">
                <!-- 첫 페이지-->
                {% if review_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">처음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">처음으로</a>
                </li>
                {% endif %}
                <!-- 이전페이지 -->
                {% if review_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.previous_page_number }}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                <!-- -------------------- 페이지리스트 -------------------- -->
                    {% for page_number in review_list.paginator.page_range %}
                    {# if page_number >= review_list.number|add:-5 and page_number <= review_list.number|add:5 #}
                        {% if page_number == review_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {# endif #}
                {% endfor %}
                <!-- -------------------- 다음페이지 -------------------- -->
                {% if review_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.next_page_number }}">이후</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이후</a>
                </li>
                {% endif %}
                <!-- 마지막으로 -->
                {% if review_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.paginator.num_pages }}">마지막으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">마지막으로</a>
                </li>
                {% endif %}
            </ul>
            <!-- --------------------- 페이징처리 끝 -------------------- -->
        </div>
{% endblock %}