<h1>{{ review }}</h1>
<!-- ----------------------------조회수영역------------------------------------ -->
<form><input type="hidden" value="{{ review.update_counter }}"></form>
조회수{{ review.review_hit }}
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------작성일자영역------------------------------------ -->
<div>
    {% if review.modify_date == null %}
        <p>{{ review.create_date }}</p>
    {% else %}
        <p>{{ review.modify_date }}</p>
    {% endif %}
</div>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------리뷰내용영역------------------------------------ -->
<div>{{ review.content }}</div>
<!-- ----------------------------목록영역------------------------------------ -->
</div>
        <div><a href="{% url 'review:index' %}">목록</a></div>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------수정영역------------------------------------ -->
    <!--템플렛 태그로 추가 if request.user == question.author-->
        <div><a href="{% url 'review:review_userdetail' review.id  %}">수정</a></div>
    <!--endif-->
</div>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------추천영역------------------------------------ -->
        <div >
            <div><a href="{% url 'review:like_review' review.id  %}">추천</a>{{ review.like_review }}</div>
            <div><a href="{% url 'review:unlike_review' review.id  %}">비추천</a>{{ review.unlike_review }}</div>
        </div>
<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------------공유영역(js로 변경)------------------------------------ -->
        <div >
            <div>공유URL(http://127.0.0.1:8000/review/{{ review.id }})</div>
        </div>
<!-- ----------------------------------------------------------------------- -->