{% extends 'base.html' %}
{% load static %}
{% block bootstrap %}<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/> {% endblock %}


{% block main %}
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'community:index' %}" class="navbar-brand d-flex align-items-center">
                <strong>게시판</strong>
            </a>
        </div>
    </div>
</header>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">NO.</th>
            <th scope="col">머리글</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
        <tr class="text-center">
            <th scope="row">
                <span>{{ board.id }}</span>
            </th>
            <td>
                <span>{{ board.content_type }}</span>
            </td>
            <td>
                <a href="{% url 'community:detail' board.id %}">{{ board }}</a>

            </td>
            <td>
                <span>{{ board.writer }}</span>
            </td>
            <td>
                <span>{{ board.created_date | date:"Y-m-d h:i" }}</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a href="{% url 'community:post' %}" class="btn btn-primary" role="button">글쓰기</a>
        </div>
    </div>
    <!-- -------------------- 페이징처리 시작 -------------------- -->
            <ul class="pagination justify-content-center">
                <!-- 이전페이지 -->
                {% if review_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.previous_page_number }}"><<</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><<</a>
                </li>
                {% endif %}
                <!-- -------------------- 페이지리스트 -------------------- -->
                    {% for page_number in review_list.paginator.page_range %}
                    {% if page_number >= review_list.number|add:-5 and page_number <= review_list.number|add:5 %}
                    {% if page_number == review_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
                <!-- -------------------- 다음페이지 -------------------- -->
                {% if review_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_list.next_page_number }}">>></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">>></a>
                </li>
                {% endif %}
            </ul>
            <!-- --------------------- 페이징처리 끝 -------------------- -->
</div>
{% endblock %}