body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #C0C0C0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 8px 12px;
}

.navbar_logo {

}

.navbar_logo i {

}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_links {
  list-style: none;
  color: #C0C0C0;
}

.navbar_links {
  padding: 8px 12px;
}

