<!doctype html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <title>NullReview</title>
    <script src="https://kit.fontawesome.com/1d5f52b69e.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <img src="{% static 'images/logo.jpg'%}" style="width:200px;height:65px">
            <a href=""></a>
        </div>

        <ul class="navbar_menu">
            <li><a href="">홈</a></li>
            <li><a href="">영화목록</a></li>
            <li><a href="">리뷰</a></li>
            <li><a href="">자유게시판</a></li>
            <li><a href="">관리자</a></li>
        </ul>

        <div class="navbar_profile">

        </div>
    </nav>
    <ul class="navbar_links">
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-facebook-f"></i></li>
        Copyright ⓒ 2021 Null 뛰는 녀석들 all rights reserved.
    </ul>
</body>
</html>