{% extends 'base.html' %}
{% load static %}
{% block bootstrap %}<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/> {% endblock %}


{% block main %}
<div class="row m-0 justify-content-center mt-5 pt-5">
  <div class="col-5 button-1" OnClick="location.href ='{% url 'master:movies' %}'">
    <div class="eff-1"></div>
    <a href="{% url 'master:movies' %}"> 영화 관리 </a>
  </div>
  <div class="col-5 button-4" OnClick="location.href ='{% url 'master:users' %}'">
    <div class="eff-4"></div>
    <a href="{% url 'master:users' %}"> 회원 관리 </a>
  </div>
</div>
{% endblock %}